{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-6 mx-auto">
        <h1>
    ContactApp
</h1>
<p>
    Notre application de gestion de contacts réalisée avec Symfony 6.3 !
    Dans ce projet, nous allons étudier les fondamentaux de Symfony.
</p>
<p class="fw-bold text-success">
Let's go !
</p>

        </div>
    </div>
</div>
{% endblock %}
