{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
        <h1 class="display-4 text-center">
    Contact App
</h1>
<p class="lead">
    Notre application de gestion de contacts réalisée avec Symfony 6.3 !
    Dans ce projet, nous allons étudier les fondamentaux de Symfony.
</p>
<p>
 Ce projet est une initiation à Symfony. Nous allons voir les fondamentaux de ce framework.<br>
 
 <span class="fw-bold text-dark">- Les routes</span> <br>
 <span class="fw-bold text-dark">- Les controllers</span> <br>
 <span class="fw-bold text-dark">- Les templates</span> <br>
 <span class="fw-bold text-dark">- Les entités</span> <br>
 <span class="fw-bold text-dark">- Les fixtures</span> <br>
 <span class="fw-bold text-dark">- La gestion des erreurs</span> <br>
 <span class="fw-bold text-dark">- La mise en production sur Heroku ou Ionos</span> <br>

 Nous allons également faire un système de pagination et utiliser HTMX pour faire le chargement des contacts en AJAX.<br>
 
 <span class="fw-bold">HTMX </span> est une librairie JS qui permet de faire des requêtes AJAX sans écrire de JS 
</p>
<p class="fw-bold text-success display-2">
Let's go !
</p>

        </div>
    </div>
</div>
{% endblock %}
