body {
    min-height: 100vh;
    position: relative;
   
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.picture {
    border-radius: 50%;
}


.htmx-indicator{
    display: none !important;
}

.htmx-request .htmx-indicator{
    display: inline-block !important;
}

                .error-container {
                    text-align: center;
                    margin-top: 100px;
                }