{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Errors {% endblock %}

{% block body %}
    <div class="container error-container">
        <h1 class="display-1">Oops!</h1>
        <h2>
            Alors vous avez essayé de bouger les choses, hein?<span style="text-align: center; font-size: 48px;">&#x1F604;</span>
        </h2>
        <h3>La page que vous recherchez n'existe pas
            <span style="text-align: center; font-size: 48px;">&#x1F914;</span>
        </h3>
        <p class="lead">La page que vous recherchez est introuvable.</p>
        <p class="lead">Veuillez vérifier l'URL ou revenir à la page d'accueil.</p>
        <a class="btn btn-primary" href="/">Retour à la page d'accueil</a>
    </div>
{% endblock %}
